body {
  margin: 0;
  font-family: "Counpmrier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font{
  font-family: "Counpmrier New", Courier, monospace;
}

.color{
  color: black;
}
